<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="fileout" class="org.apache.log4j.RollingFileAppender">

		<param name="file" value="logs/agent.log" />
		<param name="MaxBackupIndex" value="10" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %-4r %-5p %x -%m%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="ALL" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[SaleWeb] %-5p %d{HH:mm:ss} %l%n%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="ALL" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<logger name="org.apache.zk" additivity="false">
		<level value="warn"></level>
		<appender-ref ref="fileout"/>
	</logger>


	<root>
		<priority value="info" />
		<appender-ref ref="stdout" />
	</root>

</log4j:configuration>
